page {
  display: grid;
  grid-template-rows: 4em calc(100vh - 7em) 3em;
  grid-gap: 0;
}

.page-header {
  background-color: darkslategray;
  max-height: 4em;
}

header {
  color: white;
  display: grid;
  grid-template-columns: 90% 10%;
  max-width: 760px;
  margin: 0 auto;
}

.counter {
  color: lightblue;
  font-size: 1.5em;
  line-height: 3em;
}

header h1 {
  text-align: center;
}

.game-board, .content {
  height: calc(100vh - 9em);
  padding: 1em;
  text-align: center;
}

footer {
  background-color: #444;
  height: 3em;
  text-align: center;
}

canvas {
  display: block;
  margin: 0 auto;
}

footer a {
  color: white;
  line-height: 3em;
}

.modal {
  align-items: center;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  top: 0;
  position: absolute;
  width: 100vw;
}

.animation {
  color: rgba(255, 255, 255, 0.3);
  font-size: 25em;
  font-weight: bold;
  z-index: 5;
  animation: ani 0.8s forwards;
}

@keyframes ani {
  30% {
    opacity: 1
  }
  50% {
    opacity: 0.5
  }
  100% {
    opacity: 0
  }
}

.win {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2em;
  z-index: 10;
}

.win button {
  font-size: 0.8em;
  height: 2.5em;
  opacity: 0.6;
  width: 8em;
}

.win button:hover {
  opacity: 1;
}

.win h1 {
  background: rgba(96, 157, 168, 0.3);
  opacity: 1;
  padding: 1em 0.5em;
}